.search {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    &__input {
        flex: 1;
        max-width: 800px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: 2px solid #ccc;
        border-radius: 1rem;
        outline: none;
        transition: border-color 0.2s ease;

        &:focus {
        border-color: #007bff;
        }
    }
}